In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/raw/ethiopia_fi_unified_data.csv")
codes = pd.read_csv("../data/raw/reference_codes.csv")

df.head()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

In [3]:
df['record_type'].value_counts()

record_type
observation    30
event          10
target          3
Name: count, dtype: int64

In [4]:
df[df.record_type=="observation"]['pillar'].value_counts()

pillar
ACCESS           14
USAGE            11
GENDER            4
AFFORDABILITY     1
Name: count, dtype: int64

In [5]:
df[df.record_type=="observation"]['indicator_code'].unique()

array(['ACC_OWNERSHIP', 'ACC_MM_ACCOUNT', 'ACC_4G_COV', 'ACC_MOBILE_PEN',
       'ACC_FAYDA', 'USG_P2P_COUNT', 'USG_P2P_VALUE', 'USG_ATM_COUNT',
       'USG_ATM_VALUE', 'USG_CROSSOVER', 'USG_TELEBIRR_USERS',
       'USG_TELEBIRR_VALUE', 'USG_MPESA_USERS', 'USG_MPESA_ACTIVE',
       'USG_ACTIVE_RATE', 'AFF_DATA_INCOME', 'GEN_GAP_ACC',
       'GEN_MM_SHARE', 'GEN_GAP_MOBILE'], dtype=object)

In [6]:
df[['record_type','observation_date']].sort_values('observation_date').head(10)

    record_type observation_date
0   observation       2014-12-31
1   observation       2017-12-31
33        event       2021-05-17
41        event       2021-09-01
2   observation       2021-12-31
3   observation       2021-12-31
4   observation       2021-12-31
6   observation       2021-12-31
26  observation       2021-12-31
34        event       2022-08-01

In [8]:
new_data = {
    'record_type':'observation',
    'pillar':'Usage',
    'indicator':'Telebirr Users',
    'indicator_code':'MM_USERS',
    'value_numeric':54000000,
    'observation_date':'2024-12-01',
    'source_name':'Ethio Telecom',
    'source_url':'https://ethiotelecom.et',
    'confidence':'high',
    'collected_by':'Fenet Abilu',
    'collection_date':'2026-02-01',
    'notes':'Telebirr user base expansion'
}

df = pd.concat([df, pd.DataFrame([new_data])], ignore_index=True)

df.tail()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
40,EVT_0008,event,infrastructure,NaN,EthioPay Instant Payment System Launch,EVT_ETHIOPAY,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,National real-time payment system,NaN
41,EVT_0009,event,policy,NaN,NFIS-II Strategy Launch,EVT_NFIS2,NaN,NaN,Launched,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,5-year national financial inclusion strategy,NaN
42,EVT_0010,event,pricing,NaN,Safaricom Ethiopia Price Increase,EVT_SAFCOM_PRICE,NaN,NaN,Implemented,categorical,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Data and voice prices increased 20-82%,NaN
43,NaN,observation,NaN,Usage,Telebirr Users,MM_USERS,NaN,54000000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Fenet Abilu,2026-02-01,NaN,Telebirr user base expansion
44,NaN,observation,NaN,Usage,Telebirr Users,MM_USERS,NaN,54000000.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Fenet Abilu,2026-02-01,NaN,Telebirr user base expansion

In [9]:
df.to_csv("../data/processed/ethiopia_fi_enriched.csv", index=False)
print("Saved enriched dataset")

Saved enriched dataset